@model List<SalePortal.Entities.ChatEntity>;
<div>
    @foreach (var item in Model)
    {

        <p>Commodity: @item.Commodity.Name</p>
        <p>Price: @item.Commodity.Price $</p>
        <p><a class="btn btn-primary" asp-action="Index" asp-route-commodityId="@item.Commodity.Id" asp-route-customerId="@item.CustomerId" asp-controller="Chat">Chat</a></p>

    }
</div>