
<select id="selectedPostOffices" asp-items="@ViewBag.postOffices"></select>
<button id="submitOrderWithPostOffices" class="btn btn-primary">OK</button>

<script src="~/js/selectedpostoffices.js"></script>