@model PasswordRecoveryModel;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
<div class="text-center page" >
    <h2>@localizer["Your new password"]</h2>
    <form asp-action="NewPassword">
        <input type="hidden" asp-for="UserId" />
        <input type="password" asp-for="NewPassword" />
        <button type="submit" class="btn btn-primary">@localizer["submit"]</button>
    </form>
</div>