@model PasswordRecoveryModel;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
<div class="text-center page">
    <h1>
        @localizer["The code was sent to your email, for password recovery inpute this code"]
    </h1>
    <form method="post" asp-action="ValidateCode">
        <input type="hidden" asp-for="UserId" />
        <input name="code" type="hidden" asp-for="Code" />
        <input asp-for="InputCode" name="inputCode" placeholder="Youe code" type="number" required />
        <button type="submit" class="btn btn-primary">@localizer["Submit"]</button>
    </form>
</div>
