html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}

.sb{
    padding-right: 30px;

}
.page {
    padding-top: 60px;
}

.CommodityBox{
    width: 320px;
}